<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SG Fast Flyers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" >
       
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">
                <img class="img-responsive" style="display:inline-block; height:30px; margin-top:-5px" src="~/Content/Images/Logo.jpg" alt="logo" />
                SG Fast Flyers
            </a>
            <div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Make an Order", "Create", "Orders")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("View Orders", "", "Orders")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <!--This area will be for the Terms and Conditions, Privacy Policy, Refund/Cancellation policy, Shipping & Delivery policy -->
                <div class="navbar-nav">
                    <div class="container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                       
                    </div>
                    <div class="navbar-collapse collapse">
                        <a class="navbar-brand" href="/Home/Index">
                            <img class="img-responsive" style="display:inline-block; height:30px; margin-bottom:-5px" src="~/Content/Images/Logo.jpg" alt="logo" />
                            SG Fast Flyers
                        </a>
                        
                        <ul class="nav navbar-nav">
                            <!--This area will be for the Terms and Conditions, Privacy Policy, Shipping & Delivery policy -->
                           
                            <li>@Html.ActionLink("Terms & Conditions", "TermsandConditions", "PolicyDocuments")</li>
                            <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "PolicyDocuments")</li>
                            <li>@Html.ActionLink("Shipping & Delivery Policy", "ShippingandReturnsPolicy", "PolicyDocuments")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            
                        </ul>
                        <a class="navbar-brand" href="/Home/Index">
                            <img class="img-responsive" style="display:inline-block; height:30px; margin-bottom:-5px;" src="~/Content/Images/Logo.jpg" alt="logo"/>
                            &copy; 2016 - SG Fast Flyer
                        </a>
                            
                     </div>
                </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
