@model SGFastFlyers.ViewModels.InstantQuoteViewModel

@{
    ViewBag.Title = "Quote Details";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Quote Details</h2>

    <div>
        <h4>InstantQuoteViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsMetro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsMetro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NeedsPrint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NeedsPrint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrintSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrintSize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrintFormat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrintFormat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FormattedCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FormattedCost)
            </dd>

        </dl>
    </div>

    <p>
        @Html.ActionLink("Make a new quote", "Index", "Home")
    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Place an Order" class="btn btn-default" />
        </div>
    </div> 
}